@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #170888, #290d3b, #772f6d);
  color: #fff;
  overflow: hidden;
}

.top{
    font-family: 'Press Start 2p', system-ui;
    font-size: small;
    align-items: center;
    justify-content: center;
    background: rgb(240, 80, 216);
    border-bottom:  1px solid rgba(82, 22, 121, 0.768);
    padding: 0.8rem 1.5rem;
    z-index: 10;
    display: flex;
    flex-shrink: 0;

}

.sidebar{
  position: fixed;
  top:0;
  right:0;
  font-family: "Jura", sans-serif;
  width: 20%;
  height: 100%;
  background: rgba(240, 80, 216, 0.571);
  padding: 1rem;
  border-left: 1px solid rgba(82, 22, 121, 0.768);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

.howto{
    font-size: small;
    padding: 1rem;
    margin-top: 4rem;
}

.homebutton{
    font-family:'Press Start 2p', system-ui;
    font-size: 10px;
    margin-top: 1rem;
    width: 200px;
    height: 50px;
    background:#772f6d;
}

.startbutton{
    font-family: 'Press Start 2p', system-ui;
    font-size: 20px;
    width: 300px;
    height: 100px;
    margin-left: 27rem;
    margin-top: 17rem;
    background:rgb(240, 80, 216);
}

.specialbutton{
    font-family: 'Press Start 2p', system-ui;
    font-size: 10px;
    width: 200px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    background:rgb(240, 80, 216);
}

.restart{
    font-family: 'Press Start 2p', system-ui;
    font-size: 10px;
    width: 200px;
    height: 50px;
    margin-top: 2rem;
    margin-left: 1rem;
    background:rgb(240, 80, 216);

}

.boardleader{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.5rem;
    height: 50%;
    overflow-y: auto;
}

.game{
  font-family: 'Press Start 2p', system-ui;
  width: 40%;
  height: 100%;
  position:absolute;
  top:60px;
  left:280px;
  overflow-y: auto;
}

.turns{
    font-family: 'Press Start 2p', system-ui;
    margin-top: 3rem;
    margin-left: 1rem;
}
.card-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card{
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(101, 16, 127), 0 0 20px rgb(240, 80, 216);
}

.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    box-shadow: 0 0 10px rgb(86, 13, 13), 0 0 20px rgb(224, 38, 38);
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}




