@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Press+Start+2P&display=swap');


.contain{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #6f0f89, #bf39e0, #db4bba);
  color: #fff;
  overflow: hidden;
}

.top{
    width: 100%;
    height: 30%;
    font-family: 'Press Start 2p', system-ui;
    font-size: small;
    border-bottom:  1px solid rgba(82, 22, 121, 0.768);
    padding: 1rem;
}

.leftside{
  width: 20%;
  height: 100%;
  background: rgba(191, 81, 250, 0.29);
  padding: 1rem;
  border-right: 1px solid rgba(82, 22, 121, 0.768);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

.howto{
    font-family: "Jura", sans-serif;
    font-size: small;
    padding: 1rem;
    margin-top: 1rem;
}

.center{
    font-family: 'Jura', sans-serif;
}