@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #6f0f89, #bf39e0, #db4bba);
  color: #fff;
  overflow: hidden;
}

.player{
  position:absolute;
  padding: 1rem;
  margin-right: 3rem;
  top:0;
  right:0;
}

.top{
    width: 100%;
    font-family: 'Press Start 2p', system-ui;
    font-size: small;
    background: rgba(191, 81, 250, 0.29);
    border-bottom:  1px solid rgba(82, 22, 121, 0.768);
    padding: 1rem;

}

.sidebar{
  position: fixed;
  top:0;
  right:0;
  font-family: "Jura", sans-serif;
  width: 20%;
  height: 100%;
  background: rgba(191, 81, 250, 0.29);
  padding: 1rem;
  border-left: 1px solid rgba(82, 22, 121, 0.768);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

.howto{
    font-size: small;
    padding: 1rem;
    margin-top: 5rem;
}




