.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card{
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(101, 16, 127), 0 0 20px rgb(240, 80, 216);
}

.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    box-shadow: 0 0 10px rgb(86, 13, 13), 0 0 20px rgb(224, 38, 38);
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@keyframes hideImage {
  0%, 84%{
    transform: rotateY(90deg)
  }85%{
    transform: rotateY(0deg)
  }
}

@keyframes showImage {
  0%, 84%{
    transform: rotateY(0deg)
  }85%{
    transform: rotateY(90deg)
  }
}