*, a{
  margin:0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
  color: aliceblue;
}

.ngilo-user{
  background: #37143d;
  background: linear-gradient(180deg, rgba(138, 42, 155, 1) 20%, rgb(92, 74, 189) 73% rgba(26, 6, 116, 0.555) 100%);
  height: 728px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ngilo-user h1{
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}.user-login{
  background: rgba(255, 255, 255, 0.4 );
  box-shadow: 0px 32px 0 rgba( 31, 38, 135, 0.37 );
  background-attachment: blur( 12.5px );
  backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  height: 200px;
}
.user-login > form{
  display: flex;
  flex-direction: column;  
}

.user-login > form > input{
  width: auto;
  border: 0px;
  border-radius: 4px;
  height: 26px;
}
.user-btn{
  margin-top: 10px;
  width: auto;
  text-align: center;
  background-color: black;
  height: 30px;
  color:aliceblue;
  padding: 10px;
} 